{% include 'recipes/partials/head.html'%}

<body>
    {%include 'recipes/partials/header.html'%} <!--Cabeçalho-->

    {% include 'recipes/partials/seach.html' %}<!--Caixa de pesquisa-->

    <main class="main-content-container"> <!-- Essa e a grid do site -->
        <div class="main-content main-content-list container"> <!-- Aqui esta o conteiner principal-->

            {% include 'recipes/partials/recipe.html' %} <!-- Aqui está o container com a receita -->
            {% include 'recipes/partials/recipe.html' %} <!-- Aqui está o container com a receita -->
            {% include 'recipes/partials/recipe.html' %} <!-- Aqui está o container com a receita -->
            
        </div>
    </main>

    {%include 'recipes/partials/footer.html'%} <!--rodapé -->
 
</body>
</html>